<h1>Donor Cats</h1>
<p>Donate Today</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-Y1A-wTOJH8" frameborder="0" allowfullscreen></iframe>

user model

email, first_name, last_name, password_digest, address, city, zipcode, country

charity model

name, city, state, discription, causes, number_donors: integer, project_one_title, donation_total: integer, projects_one_discription, image

join table

charity_id: integer, user_id: integer, frequency