<%= render "layouts/navbar" %>
<div class="container">
	<div>
		<h2>About Us</h2>
		<p>KarmaRoo is a small humanitarian and development team base out of San Francisco, working to aggregate charity donations in support for the needy. It begins with safe shelter, nutrition, protection from disaster and conflict and traverse the life cycle: pre-natal care for healthy births, clean water and sanitation, health care and education.<br><br>KarmaRoo has spent nearly two weeks working on a web application to improve the lives of people all over the world, from adolescence into adulthood. It requires a global presence whose goal is to produce results and monitor their effects. KarmaRoo also lobbies and partners with leaders, thinkers and policy makers to help everyone realize their rights—especially the most disadvantaged.<br><br>KarmaRoo is hoping to be on the ground in over multiple countries and territories to help people survive and thrive. We hope to be the world’s largest provider of care for developing countries, so we can support everyone's health and nutrition, good water and sanitation, quality basic education for all, and the protection of children from violence, exploitation, and AIDS. KarmaRoo is funded entirely by the voluntary contributions of individuals, businesses, foundations and governments. Join our cause, donate today. </p>
	</div>
</div>