<%= render "layouts/navbar" %>

<% @charities.each do |c| %>
    <div class="col-sm-4">
	   <div class="thumbnail text-center">
            <img src="<%= c.image %>">
			<div class="details text-center">
				<h3 id="name-link"><%= link_to c.name, c %></h3>
				<div class="basic"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></div>
				<div class="secondary"><%= c.causes %></div> 
			</div> <!-- details -->
		</div> <!-- box -->
	</div>
<% end %>