.button-section {
	text-align: center;
}
.bottom-button {
	padding-top: 10px;
}
.top-row {
	background-color: orange;
}
.second-row {
	background-color: orange;
}

.top-bar {
	background-color: #fff8e3;
	margin-top: -17px;
	color: #ff6b3b;
}

.mid-bar {
	background-color: #ffb25e;
	padding:20px;
	margin-bottom: 50px;
}

.bot-bar {
	border-bottom-color: black;
	background-color: #fff8e3;
	padding:30px;	
}

.bot-top-bar {
	background-color: #ffb25e;
	padding:1px;
}

.donate-button {
	background-color: #b8e986;
	margin-bottom: 10px;
	width: 100px;
	color: black;

}

.detail-button {
	background-color: #a9b3e5;
	width: 100px;
	color: black;
}

.img-box {
	width:100%;
}