profile_title.navbar {
	border-bottom: solid;
	border-bottom-color: orange;
}

#navbar_title {
	color: orange;
}

.navbar_image {
	height: 50px;
	margin-top: -15px;
	border-radius: 25%;
}

.green {
	color: green;profile_title
}

h1.green {
	color: green;
}

.profile_title {
    color: gray;
    margin-bottom: 40px;
    margin-top: 10px;
}

.profile_pic {
	height: 180px;
	border-radius: 10%;
	margin-top: 4px;
}

#signup_form .error {
	color: red;
}

#login_form .error {
	color: red;
}

#logout_button {
	margin-left: 10px;
}

#login_button {
	margin-left: 10px;
}

#profile_jumbo {
	background-color: orange;
}

#next_donations {
	padding-top: 20px;
}

#next_donations li {
	display: inline;
	padding-right: 100px;
}